<%= Gon::Base.render_data %>
<div class= "col-xl-3 col-md-6 mr-3" style="padding:0;">
  <div class="card rounded border shadow" style="background-color: #fff6d4a1" id="pulse">
    <strong class="card-header text-white" style="background-color: #f19999bf;">本日发送量</strong>
    <div class="card-body">
        <div class="display-4 font-weight-500 text-dark"><%= @noti_num_day %></div>
    </div>
 </div>
</div>
<div class="col-xl-3 col-md-6 mr-3" style="padding:0;">
  <div class="card rounded border shadow" style="background-color: #fff6d4a1">
    <strong class="card-header text-white" style="background-color: #84ccff;">
        本月发送量</strong>
    <div class="card-body">
      <div class="display-4 font-weight-500 text-dark"><%= @noti_num_mon %></div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6 mr-3" style="padding:0;">
  <div class="card rounded border shadow" style="background-color: #fff6d4a1">
    <strong class="card-header text-white" style="background-color: #f8bd73b8;">本年发送量</strong>
    <div class="card-body">
        <div class="display-4 font-weight-500 text-dark"><%= @noti_num_year %></div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="padding:0;">
  <div class="card rounded border shadow" style="background-color: #fff6d4a1">
    <strong class="card-header text-white" style="background-color: #f8bd73b8;">日平均</strong>
    <div class="card-body">
        <div class="display-4 font-weight-500 text-dark"><%= @noti_num_year %></div>
    </div>
  </div>
</div>